# Ignore version control files
.git
.gitignore

# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore local development files
*.log
*.sqlite3

# Ignore environment files
.env
.env.*

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore virtual environment
venv/

# Ignore notebooks
*.ipynb_checkpoints
*.ipynb
